.git
.gitignore
.gitattributes
node_modules
/vendor
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
.env
.env.example
.env.backup
docker-compose.override.yml
*.md
*.log
.phpunit.result.cache
.idea
.vscode
